<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Loading the properties file here -->
	<context:property-placeholder location="classpath:coachDetails.properties"/>
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    
   
    <bean id="track"
        class="com.coreJavanSpring.TrackCoach" destroy-method="remindPlayers" init-method="welcomePlayers"> 
         <constructor-arg  index ="0" ref="carbsDiet"/>
         <!-- reading from properties File -->
    	  <property name="emailAdr" value="${coach.email}" />
    	  <property name="teamName" value="${coach.team}"/>
    </bean>
  
 	<bean id="baseball"
        class="com.coreJavanSpring.BaseballCoach" scope="prototype">
         <constructor-arg  index ="0" value="10"/>         
    </bean>
    
    <!--  default scope is singleton only,adding it just for readability -->
     <bean id="cricket"
        class="com.coreJavanSpring.CricketCoach" scope="singleton"> 
        <constructor-arg  index ="0" value="20"/>            
    </bean>
    
    <bean id="proteinDiet"
        class="com.coreJavanSpring.ProteinDiet">
         <constructor-arg index ="0" value="12" />   
         <property name = "dietContent">
         <list>
            <value>Eggs</value>
            <value>Beans</value>
            <value>Tofu</value>            
         </list>
      </property> 
    </bean>
    
     <bean id="carbsDiet"
        class="com.coreJavanSpring.CarbohydrateDiet">  
             <constructor-arg index ="0"  value="300"/>  
             <property name = "dietContent">
         <list>
            <value>Oats</value>
            <value>Apples</value>
            <value>Bread</value>            
         </list>
      </property>   
    </bean>
</beans>





